PORT= 
MONGODB_USER= # connection user to mongodb
MONGODB_PASSWORD= # connection password to mongodb
MONGODB_URL= # connection url to mongodb
MONGODB_DB= # connection db to mongodb(назва бази даних до якої хочемо конектитись)